<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" style="font-size: 16px">
<head>
    <meta charset="utf-8"/>
    <title>发布</title>
    <link rel="stylesheet" type="text/css" href="/simditor/css/simditor.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
	<link rel="stylesheet" href="/css/index.css" type="text/css" media="all"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/simditor/js/jquery.min.js"></script>
    <script type="text/javascript" src="/simditor/js/module.js"></script>
    <script type="text/javascript" src="/simditor/js/hotkeys.js"></script>
    <script type="text/javascript" src="/simditor/js/uploader.js"></script>
    <script type="text/javascript" src="/simditor/js/simditor.js"></script>
    <script type="text/javascript" src="/simditor/js/simditor-dropzone.js"></script>
<style>
    .banner_w3lspvt-2 {
        background: url(http://www.hpwyx.xyz:81/group1/M00/00/01/rBM2Ql2aBfKABSW1AAC6rDpaurs552.jpg) no-repeat center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 300px;
    }
</style>
</head>
<body>

<div th:replace="templates::head"></div>
<div class="main-top" id="home">
	<div class="banner_w3lspvt-2">

	</div>
</div>
<div class="breadcrumb-mobamu" >
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">主页</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page" >写文章</li>
	</ol>
</div>
<!-- //page details -->

    <form action="" method="post" id="myInfo">
        <dl class="clearfix" style="padding-left: 60px;padding: 20px">
            <div>文章标题： <input style="outline: none;" type="text" name="sTitle" autofocus="autofocus" placeholder="最大25个字"/></div>

        </dl>
        <div id="contextText">
            <textarea id="editor" placeholder=""></textarea>
        </div>

        <input type="hidden" id="content" name="sContent" value=''>
        <div class="btn-sub">
            <button type="button" class="btn button-style mt-sm-5 mt-4" style="margin-left: 45%;padding:6px 30px ;margin-bottom: 40px" onclick="insert()" >发布</button>
        </div>
	</form>
<script src="/js/jqAlert2.js"></script>
<script>
    Simditor.locale = 'zh-CN';

    var editor = new Simditor({
        textarea: $('#editor'),
        pasteImage: true,
        upload: {
            url: '/uploadImg', //文件上传的接口地址
            params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
            fileKey: 'file', //服务器端获取文件数据的参数名
            connectionCount: 3,
            leaveConfirm: '正在上传文件'
        }
    });
</script>
<script type="text/javascript">
    function hint(data) {
        jqAlert.Confirm(data,2000)
    }

    function insert() {
        var content = $(".simditor-body").html();
        $("#content").val(content);
        $.post("/insertShare", $("#myInfo").serialize(), function (data) {
            if (data.rtnCode == 200) {
                hint("发布成功")
                setTimeout(function () {
                    location.href = "http://localhost:8088/getShare/" + data.msg;
                }, 500);

            } else {
                hint(data.msg)
            }
        });
    }
</script>
</body>
</html>
