<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>加入会员</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="all"/>
    <link href="/css/user/infor.css" rel="stylesheet" type="text/css"/>
    <link href="/css/user/info.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main-top" id="home">
    <div th:replace="templates::head"></div>
    <div class="banner_w3lspvt-2" style="background: url(/images/2.jpg) no-repeat center;">
    </div>

</div>
</body>
</html>