<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/js/jquery.1.7.2.js"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/login.css" rel='stylesheet' type='text/css' media="all">
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

</head>
<body>
<div th:replace="templates::head"></div>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side">
            <h2>登录 </h2>
            <form  method="post" id="formlogin">
                <div class="form-left-to-w3l">
                    <span class="fa fa-phone-square" aria-hidden="true"></span>
                    <input type="tel" name="uPhone" placeholder="手机号" required="">
                </div>
                <div class="form-left-to-w3l ">
                    <span class="fa fa-lock fa-2x" aria-hidden="true"></span>
                    <input type="password" name="uPassword" placeholder="密 码" required="">
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                       <a href="http://127.0.0.1:8088/localQQlogin"> <div  class="qq"></div></a>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for">忘记密码?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="button" onclick="login()">登录</button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>还没有账号?
                    <a href="register.html">注册
                    </a>
                </h3>
            </div>
        </div>
        <div class="img-right-side">
            <h3>欢迎</h3>
            <p>这里给你提供最舒适的形象设计</p>
            <img src="http://www.hpwyx.xyz:81/group1/M00/00/01/rBM2Ql2E3J-AJAEwAAPAdddNcEA027.jpg" class="img-fluid" alt="">
        </div>
    </div>
</div>
<input id="ref" type="hidden" th:value="${REFERER}" >
<script>
    function login() {
        $.post("baseLogin", $("#formlogin").serialize(), function (data) {
            if (data.rtnCode === 200) {
                setTimeout(function () {

                    var ref = $("#ref").val();
                   location.href = ref;
                }, 500);
            } else {
                alert("a")
            }
        });
    }
</script>
</body>
</html>