<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<title>Blog Details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="" />

	<link rel="stylesheet" href="/css/bootstrap.css">
	<link href="/css/single.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/index.css" type="text/css" media="all"/>
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/headandfoot.css">
	<link rel="stylesheet" href="/css/share.css">


	<link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery.1.7.2.js"></script>
</head>

<body>
<div th:replace="templates::head" ></div>
	<!-- main banner -->
	<div class="main-top" id="home">

		<!-- banner -->
		<div class="banner_w3lspvt-2">

		</div>
		<!-- //banner -->
	</div>
	<!-- //main banner -->

	<!-- page details -->
	<div class="breadcrumb-mobamu" >
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">主页</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page" >文章</li>
		</ol>
	</div>
	<!-- //page details -->

	<!-- single -->
	<div class="blog-w3l py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center text-bl font-weight-bold" th:text="${share.sTitle}">Blog Details</h3>
			<p class="sub-tittle text-center mt-2 mb-sm-5 mb-4 pb-xl-3"></p>
			<div class="blog_section px-lg-5">
				<div class="card border-0">

<!--						<img th:src="${share.sImg}" alt="" class="img-fluid">-->

					<div class="card-body p-0 py-4">
						<div class="row border-bottom pb-3">
							<div class="col-sm-6 col-4 perso-wthree">
								<h6 class="blog-first text-bl">
									<span class="fa fa-user mr-2"></span><span th:text="${share.xUser.uname}">Adrian Lie</span>
								</h6>
							</div>
							<div class="col-sm-6 col-8 info-commt text-right">
								<ul class="blog_list">
									<li th:text="${#dates.format(share.mTime,'yyyy-MM-dd')}">Jan 16, 2019</li>
									<li class="mx-3">
										<a href="#">
											<span class="fa fa-heart-o mr-1"></span>30
										</a>
									</li>
									<li>
										<a href="#">
											<span class="fa fa-comments-o mr-1"></span>18
										</a>
									</li>
								</ul>
							</div>
						</div>

						<p class="card-text" th:utext="${share.sContent}">Morbi eget dui elit. In lectus eros, convallis vel dolor vitae, semper sodales risus. Donec
							convallis maximus neque
							vel cursus.</p>
					</div>
				</div>


				<div class="comment-top mt-5">
					<h4>Comments</h4>
					<div class="media">
						<img src="images/te1.jpg" alt="" class="img-fluid" />
						<div class="media-body pt-xl-2 pl-3">
							<h5 class="mb-2">Joseph Goh</h5>
							<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac</p>
						</div>
					</div>
					<div class="media mt-5">
						<img src="images/te2.jpg" alt="" class="img-fluid" />
						<div class="media-body  pt-xl-2 pl-3">
							<h5 class="mb-2">Goh James</h5>
							<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. id dignissim sapien velit id felis ac</p>
						</div>
					</div>
				</div>
				<div class="comment-top mt-5">
					<h4>Leave a Comment</h4>
					<div class="comment-bottom mobamuinfo_mail_grid_right">
						<form action="#" method="post">

							<div class="form-group">
								<input class="form-control" type="text" name="Subject" placeholder="Subject" required="">
							</div>
							<div class="form-group">
								<textarea class="form-control" name="Message" placeholder="Message..." required=""></textarea>
							</div>
							<button type="submit" class="btn submit mt-4">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //single -->

	<div th:replace="templates::footer"></div>
</body>

</html>