<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- head -->
<header class="navigation" id="hea" th:fragment="head" style="top: 0">


    <div class="container-fluid">
        <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
            <!-- logo -->
            <div id="logo">
                <h1><a href="/">XXDesign</a></h1>
            </div>
            <!-- //logo -->
            <!-- 导航 -->
            <div class="nav_w3ls">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li><a href="/" class="active">主页</a></li>
                        <li><a href="about.html">形象管理</a></li>
                        <li><a href="/getShareList">share</a></li>
                        <li><a href="alii.html">专业设计</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toogle-2">获取灵感<span class="fa fa-angle-down"
                                                                                  aria-hidden="true"></span>
                            </label>
                            <a href="#">获取更多 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2"/>
                            <ul>
                                <li><a href="#services" class="drop-text">妆容</a></li>
                                <li><a href="#blog" class="drop-text">礼仪</a></li>
                                <li><a href="#why" class="drop-text">穿搭</a></li>
                                <li><a href="#price" class="drop-text">其他</a></li>
                            </ul>
                        </li>
                        <li th:if="${session.USERINFO} eq null"><a href="login.html">登录</a>
                            <a href="register.html">注册</a></li>
                        <!--                        <li><a href="admin.html">后台</a></li>-->
                        <li th:if="${session.USERINFO} ne null" th:object="${session.USERINFO}">
                            <!-- 下拉 -->
                            <label for="drop-3" class="toggle toogle-2">获取灵感<span class="fa fa-angle-down"
                                                                                  aria-hidden="true"></span>
                            </label>
                            <a href="#">
                                <div class="i-face "><img class="face" th:src="*{uEx1}"/></div>
                            </a>
                            <input type="checkbox" id="drop-3"/>
                            <ul style="top: 35px;width: 100px">
                                <li style="width: 80px;font-size: 13px"><a style="color: orange;" href="/findMyInfo" class="drop-text" th:text="*{uName}">个人信息</a>
                                </li>
                                <li style="width: 80px"><a href="#blog" class="drop-text">我的</a></li>
                                <li style="width: 80px"><a href="/loginOut" class="drop-text">退出</a></li>
                            </ul>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</header>
<!-- footer -->
<div th:fragment="footer">
    <footer class="py-5">
        <div class="container pt-xl-4">
            <div class="row footer-top">
                <div class="col-lg-4 col-md-6 footer-grid_section_1its">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="index.html" class="text-uppercase text-wh">地图</a>
                    </h2>
                    <!-- Map -->
                    <div class="map-fo">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5916.609269839841!2d118.6422784427003!3d31.934384390356684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-CN!2shk!4v1568189387359!5m2!1szh-CN!2shk"
                                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                    <!-- //Map -->
                </div>
                <div class="col-lg-2 col-md-6 footer-grid_section_1its mt-md-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">链接</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <a href="/">主页</a>
                        </li>
                        <li class="mb-3">
                            <a href="about.html">关于我们</a>
                        </li>

                        <li class="mb-3">
                            <a href="#services">会员服务</a>
                        </li>
                        <li class="mb-3">
                            <a href="contact.html">我的衣柜</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">联系我们</h3>
                    <div class="contact-info">
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">电话</h4>
                            <p>+18896785465</p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">邮箱 </h4>
                            <p><a href="hewenxing89@gmail.com">hewenxing89@gmail.com</a></p>
                        </div>
                        <div class="footer-style-w3ls mb-4">
                            <h4 class="text-li mb-2">地址</h4>
                            <p>Honey Avenue, New York City</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 footer-grid_section_1its mt-lg-0 mt-4">
                    <!-- social icons -->
                    <div class="mobamuinfo_social_icons">
                        <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">技术连接</h3>
                        <p>
                            <a href="https://spring.io/">spring</a></p>
                        <p>
                            <a href="https://redis.io/">redis</a>
                        </p>
                        <h4 class="sub-con-fo text-li my-4"></h4>
                        <ul class="mobamuits_social_list list-unstyled">

                            <li class="w3_mobamu_twitter">
                                <a href="#">
                                    <span class="fa fa-qq"></span>
                                </a>
                            </li>

                            <li class="w3_mobamu_weixin">
                                <a href="#">
                                    <span class="fa fa-weixin"></span>
                                </a>
                            </li>
                            <li class="w3_mobamu_google">
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- social icons -->
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center py-3">
        <p>Copyright &copy; 2019. <a href="" target="_blank"></a></p>
    </div>

    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->
</div>
</html>