<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>我的衣柜</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <script>
    </script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="all"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .banner_w3lspvt-2 {
            background: url(http://www.hpwyx.xyz:81/group1/M00/00/01/rBM2Ql2aChyAJ2YEAAEVMjXpbh4327.jpg) no-repeat center;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            min-height: 300px;
        }
    </style>
    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Oxygen:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.1.7.2.js"></script>
    <!-- //Web-Fonts -->
</head>

<body>
<div class="main-top" id="home">
    <div th:replace="templates::head"></div>
    <div class="banner_w3lspvt-2">
    </div>
</div>

<!-- page details -->
<div class="breadcrumb-mobamu">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">主页</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">衣物间</li>
    </ol>
</div>
<!-- //page details -->

<!-- Gallery -->
<section class="gallery" id="gallery">
    <div class="container py-md-5">
        <h3 class="tittle text-center font-weight-bold">我的衣物间</h3>
        <p class="sub-tittle text-center mt-2  mb-4">这里是你的已经上传过的衣物</p>
        <div class="row news-grids no-gutters text-center">
            <div class="col-md-4 gal-img" th:each="wardrobe,userStat:${wardrobe}">
                <a th:href="'#gal'+${userStat.index}"><img src="images/blog1.jpg" class="img-fluid"
                                                           th:src="${wardrobe.wImg}">
                </a>
            </div>

        </div>
    </div>
</section>
<!-- popup-->
<div th:each="wardrobe,userStat:${wardrobe}" th:id="'gal'+${userStat.index}" class="pop-overlay animate">
    <div class="popup">
        <img style="max-height:640px " src="images/blog1.jpg" alt="Popup Image" class="img-fluid"
             th:src="${wardrobe.wImg}"/>
        <p th:text="${wardrobe.wName}"></p>
        <p style="color: blueviolet;">季节：<span style="color: #0042ff" th:text="${wardrobe.wSeason}"></span> 价格：<span th:text="${wardrobe.wPrice}+' ¥'" style="color: red"></span></p>
        <a class="close" href="#">&times;</a>
    </div>
</div>
<!-- //popup -->
<!-- //gallery -->
<!-- move top icon -->
<a href="#home" class="move-top text-center"></a>
<!-- //move top icon -->

</body>
</html>