<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>个人信息</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="all"/>
    <link href="/css/user/infor.css" rel="stylesheet" type="text/css"/>
    <link href="/css/user/info.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main-top" id="home">
    <div th:replace="templates::head"></div>
    <div class="banner_w3lspvt-2" style="background: url(/images/2.jpg) no-repeat center;">

    </div>
</div>

<div class="center">
    <div th:replace="templates::userleft"></div>
    <div class="content flt2">
        <div class="wd-main">
            <div class="wd-navbar clearfix">
                <ul class="wd-nav _j_qa_nav">
                    <li ><a href="/findMyInfo">我的信息</a></li>
                    <li class="on"><a href="/getMsg">我的消息</a></li>
                    <li><a href="/wenda/u/79963863/solution.html"></a></li>

                </ul>
            </div>

            <div class="wd-list _j_qa_list">
                <div class="no_data" th:if="${msgList.size()} eq 0">
                                    <img src="http://css.mafengwo.nethttp://images.mafengwo.net/images/home_new2015/no_num.png" height="139" width="156" alt="">
                                    <p>这里的世界静悄悄</p>
                </div>
                <div class="wd-item" th:each=" msg:${msgList}">
                    <a href="javascript(0)" target="_blank" class="wd-btn-answer" onclick="delmsg(this)"  th:data-id="${msg.mId}">删除</a>
                    <div class="wd-title"><a  target="_blank"><span class="label-mdd">[通知]</span>
                    <span th:text="${msg.mTitle}"></span></a>
                    </div>
                    <div class="wd-detail" th:text="${msg.mContent}">为自己挑选下一个旅行目的地</div>
                    <div class="wd-meta">
                        <div class="meta-pull">
                            <span class="meta-item meta-time"  th:text="${#dates.format(msg.mTime,'yyyy-MM-dd hh:mm')}">2018-09-03 14:44</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pagin" id="smallpager"></div>
        </div>
    </div>
</div>
</div>
<script>

    function delmsg(datae) {
        var data = {};
        data.mId = $(datae).attr("data-id");
        $.ajax({
            url: "/delMsg",
            data: data,
            type: "POST",
            dataType: 'json',
            success: function (re) {
                if (re.status == 200) {
                    location.reload()
                } else {
                    alert("删除失败")
                }
            }
        });
    }
</script>
</body>
</html>
