<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="个人形象设计中心"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>页面丢失了</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
    <link href="/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="all"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="main-top" id="home">
    <div th:replace="templates::head"></div>
    <div class="banner_w3lspvt-2" style="background: url(../images/3.jpg) no-repeat center;">
    </div>
</div>
<hr/>
<h1>页面不见了</h1>
<p>哈哈哈</p>
</body>
</html>