<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/js/jquery.1.7.2.js"></script>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/headandfoot.css">
    <!-- Meta tags -->
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="/css/login.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

</head>
<body>
<div th:replace="templates::head"></div>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side">
            <h2>登录 </h2>
<!--            <p>啊</p>-->
            <form  method="post" id="formlogin">
                <div class="form-left-to-w3l">
                    <span class="fa fa-phone-square" aria-hidden="true"></span>
                    <input type="tel" name="uPhone" placeholder="手机号" required="">
                    <div class="clear"></div>
                </div>
                <div class="form-left-to-w3l ">

                    <span class="fa fa-lock fa-2x" aria-hidden="true"></span>
                    <input type="password" name="uPassword" placeholder="密 码" required="">
                    <div class="clear"></div>
                </div>
                <div class="main-two-w3ls">
                    <div class="left-side-forget">
                        <!--   <input type="checkbox" class="checked">
                   <span class="remenber-me">Remember me </span> -->
<!--                        <div id="qqb" type="button">QQ</div>-->
                       <a href="http://127.0.0.1:8088/localQQlogin"> <div  class="qq"></div></a>
                    </div>
                    <div class="right-side-forget">
                        <a href="#" class="for">忘记密码?</a>
                    </div>
                </div>
                <div class="btnn">
                    <button type="button" onclick="login()">登录</button>
                </div>
            </form>
            <div class="w3layouts_more-buttn">
                <h3>还没有..?
                    <a href="#">注册
                    </a>
                </h3>
            </div>

        </div>
        <div class="img-right-side">
            <h3>Welcome To Allied Login Form</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>
            <img src="" class="img-fluid" alt="">
        </div>
    </div>
</div>
<script>
    function login() {
        $.post("baseLogin", $("#formlogin").serialize(), function (data) {
            if (data.rtnCode === 200) {
                setTimeout(function () {
                   location.href = "http://localhost:8088";
                }, 1000);
            } else {
                alert("a")
            }

        });
    }
</script>
<!-- footer -->
<!--<div th:replace="templates::footer"></div>-->

</body>
</html>